.container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .details {
    margin-bottom: 20px;
  }
  
  .details div {
    margin-bottom: 10px;
  }
  
  .seats {
    margin-top: 20px;
  }
  
  .seat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .seat button {
    background-color: #007bff;
    color: var( --primary-white-color);
    border: none;
    padding: 5px 10px;
  }
  
  .navbar {
    background-color: var(--background-color);
    color: var(--primary-white-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  
  .navLink {
    text-decoration: none;
    color: var(--primary-white-color);
    margin-right: 20px;
    transition: color 0.3s;
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
  
    &:hover,
    &:focus {
      color: #ff8c00;
    }
  }
  
  .activeNavLink {
    border-bottom: 2px solid var(--primary-white-color);
    background-color: var(--background-color);
    border: 1px solid var(--background-color);
  }
  