// .container{
//   height: 55vh;
// }

.flightSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flightSearch input {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}