.flightSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flightSearch input {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flightSearch button {
  padding: 10px 20px;
  background-color: rgba(23, 26, 32, 0.8);
  color: var(--primary-white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.flightSearch button:hover,
.flightSearch button:focus {
  background-color: rgba(23, 26, 32, 1);
    color: var(--hover-color);
}
