.navbar {
  background-color: var(--background-color);
  color: var(--primary-white-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: var(--primary-white-color);
  margin-right: 20px;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: #ff8c00;
  }
}

.activeNavLink {
  border-bottom: 2px solid var(--primary-white-color);
}
