.footer {
    background-color: var(--background-color);
    color: var(--primary-white-color);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .text {
    font-size: 1rem;
  }
  
  .creator {
    font-size: 0.8rem;
    margin-top: 5px;
  }
  